{% extends 'GremioAbmBundle::layout.html.twig' %}
{% block body %}

<div class="mws-panel grid_6">
    <div class="mws-panel-header">
       <span class="mws-i-24 i-sign-post">Alta de Cajero</span>
     </div>
<div class="mws-panel-body">
<form id="mws-wizard-form" class="mws-form" action="{{ path('administracion_entidades_cajero_create') }}" method="post" {{ form_enctype(form) }}>
    <div class="mws-wizard-nav clearfix">
            <ul>
                <li><a class="mws-ic-16 ic-database" href="#step-1">Datos</a></li>
            </ul>
        </div>
        <fieldset id="step-1" class="mws-form-inline">
    {{ form_errors(form) }}
                
                <div id class="mws-form-row">
                {{ form_label(form.apellido) }}
                {{ form_errors(form.apellido) }}
                <div class="mws-form-item large">  
                {{ form_widget(form.apellido,{ 'attr' : { 'class' : 'mws-textinput' }}) }}
                </div>   
                </div>
                
                <div id class="mws-form-row">
                {{ form_label(form.nombres) }}
                {{ form_errors(form.nombres) }}
                <div class="mws-form-item large">  
                {{ form_widget(form.nombres,{ 'attr' : { 'class' : 'mws-textinput' }}) }}
                </div>   
                </div>
                
                <div id class="mws-form-row">
                {{ form_label(form.numero_documento) }}
                {{ form_errors(form.numero_documento) }}
                <div class="mws-form-item large">  
                {{ form_widget(form.numero_documento,{ 'attr' : { 'class' : 'mws-textinput' }}) }}
                </div>   
                </div>
                
                <div id class="mws-form-row">
                {{ form_label(form.email) }}
                {{ form_errors(form.email) }}
                <div class="mws-form-item large">  
                {{ form_widget(form.email,{ 'attr' : { 'class' : 'mws-textinput' }}) }}
                </div>   
                </div>
                
                <div id class="mws-form-row">
                {{ form_label(form.proveedor) }}
                {{ form_errors(form.proveedor) }}
                <div class="mws-form-item large">  
                {{ form_widget(form.proveedor,{ 'attr' : { 'class' : 'chzn-select', 'style' : 'width:350px;' }}) }}
                </div>   
                </div>
                
                {{ form_rest(form) }}
                
    </fieldset> 
                
    
</form>
        </div>
                </div>

                
    


        <a class="button medium blue" href="{{ path('administracion_entidades_cajero') }}">
            Volver a la Lista
        </a>
    
{% endblock %}

{% block javascripts %}
{{ parent() }}

<script>
        $("#mws-wizard-form").mwsWizard({
        'submitButtonLabel' : 'Dar de Alta',
        'forwardOnly' : false,
        'nextButtonLabel' : 'Siguiente',
        'prevButtonLabel' : 'Atras',
        'nextButtonClass' : 'mws-button blue',
        onLeaveStep: function(index, elem) {
				return v.form();
			}, 
			onBeforeSubmit: function() {
				return v.form();
			}
    });
    var v = $("#mws-wizard-form").validate({ onsubmit: false });
    
    
</script>
{% endblock %}