{% extends 'GremioAbmBundle::layout.html.twig' %}
{% block body %}

      <div class="mws-panel grid_6">              
    <div class="mws-panel-header">
        <span class="mws-i-24 i-lock-locked">Cambio de Contrase&ncaron;a</span>
                    </div>
    <div class="mws-panel-body">

<form action="{{ path('password') }}" method="post" {{ form_enctype(formulario) }} class="mws-form">
    {{ form_errors(formulario) }} </br>
	
    
        {% for widget in formulario.password%}
            <div id class="mws-form-row">
            {{ form_label(widget) }}
            {{ form_errors(widget) }}
                <div class="mws-form-item large">  
                {{ form_widget(widget,{ 'attr' : { 'class' : 'mws-textinput'}}) }}
                
                </div>
                        
                </div>
        {% endfor %}
                
	
	
	{{ form_rest(formulario) }}
    <div id class="mws-form-row">
                <input type="submit" class="mws-button green medium" value="Cambiar"> 
                </div>
</form>
        </div>
          </div>
                


    
{% endblock %}