<pdf>
    <dynamic-page encoding="UTF-8" font-type="DejaVuSans">
    
        <p text-align="right">Salta, {{ "now" | date('d/m/Y') }}</p>
        <p font-style="bold" padding="0px 0px 0px 0px" text-align="justify" width="250px">Agremiación de Empleados del Poder Judicial y Ministerio Público de la Provincia de Salta</p>
        <p font-size="10px" padding="0px 0px 0px 0px" text-align="justify" width="250px">25 de Mayo 573 - Tel 4215769-4224607</p>
        <p font-size="9px" padding="0px 0px 0px 0px" text-align="justify" width="250px">e-mail ajuprosal@hotmail.com</p>


        
        <h1 text-align="center">Consulta de Emisiones Anuladas</h1>
        <h2 text-align="center">Desde: {{ fecha_desde|date('d/m/Y') }}</h2>
        <h2 text-align="center">Hasta: {{ fecha_hasta|date('d/m/Y') }}</h2>
        
        <placeholders>
            <header>
                <div text-align="right" height="25px">
                    <page-info offset="0" format="Pagina %s de %s" />
                </div>
            </header>
        </placeholders>
        
        <table padding-top="60px">
        	
	        <tr>
		        <td font-style="bold" border.type="none">
		        	Socio
		        </td>
		        <td font-style="bold" border.type="none">
		        	Proveedor
		        </td>
		        <td font-style="bold" border.type="none">
		        	Tipo de Emision
		        </td>
		        <td font-style="bold" border.type="none">
		        	Fecha de Anulacion
		        </td>
		        <td font-style="bold" border.type="none">
		        	Importe
		        </td>
		        <td font-style="bold" border.type="none">
		        	Anulo
		        </td>
        	</tr>
			
        	{% for emision in entities %}
	        	

	        	<tr border.type="none">
	        		<td border.type="none">{{ emision.socio.Apellido  ~ " " ~ emision.socio.Nombres }}</td>
	        		<td border.type="none">{{ emision.proveedor }}</td>
	        		<td border.type="none">{{ emision.tipoEmision }}</td>
	        		
	        		<td border.type="none">{{ emision.fechaAnulacion|date('d/m/Y') }}</td>
	        		<td border.type="none">{{ completar_decimales(emision.importe) }}</td>
	        		<td border.type="none">{{ emision.usuarioAnulacion }}</td>
	        		
	        	</tr>
        	{% endfor %}
        </table>

        

            </dynamic-page>
        </pdf>