{% extends 'GremioAbmBundle::layout.html.twig' %}
{% block body %}
<div class="mws-panel grid_8">
                	<div class="mws-panel-header">
                    	<span class="mws-i-24 i-table-1">Lista de Proveedores</span>
                    </div>
                    <div class="mws-panel-body">
                            <div class="mws-panel-toolbar bottom clearfix">
                        	<ul>
                            	<li><a href="{{ path('administracion_entidades_proveedor_new') }}" class="mws-ic-16 ic-add">Alta de Proveedor</a></li>
                            	
                            </ul>
                        </div>
                            <div>
                {% if app.session.hasFlash('succes') %}

                    <div class="mws-form-message success">
                        {{ app.session.flash('succes') }}
                    </div>
                {% endif %}
            </div>
<table class="mws-datatable-fn mws-table">
    <thead>
        <tr>
            {# <th>Id</th> #}
            
            <th>Razon Social</th>
            <th>Rubro</th>
            <th>Cuit</th>
            <th>Telefono</th>
            <th>Domicilio</th>
            <th>Fecha de Baja</th>
           {# <th>Actions</th> #}
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr href="{{ url('administracion_entidades_proveedor_show', { 'id': entity.id }) }}" class="dbclickeable">
            {# <td><a href="{{ path('administracion_entidades_proveedor_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td> #}
            
            <td>{{ entity.razonsocial }}</td>
            <td>{{ entity.rubro }}</td>
            <td>{{ entity.cuit }}</td>
            <td>{{ entity.telefono }}</td>
            <td>{{ entity.domicilio }}</td>
            <td>{{ entity.fechaBaja is empty ? "" : entity.fechaBaja | date("d/m/y") }}</td>
           {# <td>
                
                        <a class="button medium blue" href="{{ path('administracion_entidades_proveedor_show', { 'id': entity.id }) }}">Ver Datos</a>
                   
                        <a class="button medium blue" href="{{ path('administracion_entidades_proveedor_edit', { 'id': entity.id }) }}">Editar</a>
                   
            </td> #}
        </tr>
    {% endfor %}
    </tbody>
</table>
             </div>
                </div>


   
{% endblock %}
