{% extends 'GremioAbmBundle::layout.html.twig' %}
{% block body %}
<div class="mws-panel grid_6">
    <div class="mws-panel-header">
       <span class="mws-i-24 i-sign-post">Editar Reparticion</span>
     </div>
        
<div class="mws-panel-body">
    <div class="mws-panel-toolbar bottom clearfix">
                        	<ul>
                            	<li><a href="{{ path('administracion_entidades_reparticion') }}" class="mws-ic-16 ic-arrow-left">Volver a la Lista</a></li>
                            	<li><a href="#" id="linkborra" class="mws-ic-16 ic-trash">Dar de Baja</a></li>                            	
                            </ul>
                        </div>
    
<form id="mws-wizard-form" class="mws-form" action="{{ path('administracion_entidades_reparticion_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(form) }}>
    <div class="mws-wizard-nav clearfix">
            <ul>
                <li><a class="mws-ic-16 ic-database" href="#step-1">Datos</a></li>
            </ul>
        </div>    
{#
 <div id class="mws-form-row">
            {{ form_label(form.Num_Documento) }}
            {{ form_errors(form.Num_Documento) }}
                <div class="mws-form-item large">     
                    {{ form_widget(form.Num_Documento,{ 'attr' : { 'class' : 'mws-textinput' }}) }}
                </div>   
            </div>
#}

        
        <fieldset id="step-1" class="mws-form-inline">
    {{ form_errors(form) }}
                
                <div id class="mws-form-row">
                {{ form_label(form.Descripcion) }}
                {{ form_errors(form.Descripcion) }}
                <div class="mws-form-item large">  
                {{ form_widget(form.Descripcion,{ 'attr' : { 'class' : 'mws-textinput' }}) }}
                </div>   
                </div>
                {{ form_rest(form) }}
            </fieldset> 
    
</form>
        </div>
                </div>
        
        <form hidden="hidden" action="{{ path('administracion_entidades_reparticion_delete', { 'id': entity.id }) }}" id="formulario" method="post">
            {{ form_widget(delete_form) }}
            <button class="mws-button large blue mws-i-24 i-trashcan" id="borrasocio" type="submit">Borrar Socio</button>
        </form>
		
<div id="dialog" title="Borrar Proveedor">
    <p><img src="{{ asset('css/icons/32/error.png') }}" />
                Esta a punto de dar de baja la Reparticion, Esta seguro?
            </p>
            
</div>


{% endblock %}
{% block javascripts %}
{{ parent() }}

<script>
	$(document).ready(function(){
    $("#dialog").dialog({
      modal: true,
      autoOpen: false,
      width: 500,
      height: 200,

      });


    $("#linkborra").click(function(e) {
        
        

        e.preventDefault();

        $("#dialog").dialog('option', 'buttons', {
                "Continuar" : function() {
                    $("#formulario").submit();
                    return true;
                    },
                "Cancelar" : function() {
                    $(this).dialog("close");
                    return false;
                    }
                });

       return $("#dialog").dialog("open");

    });

});

	</script>
        

<script>
        $("#mws-wizard-form").mwsWizard({
        'submitButtonLabel' : 'Guardar Cambios',
        'forwardOnly' : false,
        'nextButtonLabel' : 'Siguiente',
        'prevButtonLabel' : 'Atras',
        'nextButtonClass' : 'mws-button blue',
        onLeaveStep: function(index, elem) {
				return v.form();
			}, 
			onBeforeSubmit: function() {
				return v.form();
			}
    });
    var v = $("#mws-wizard-form").validate({ onsubmit: false });
    
    
</script>
{% endblock %}